.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}
.home__header a:hover {
  text-decoration: underline;
}

.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home__body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}
.home__body img {
  object-fit: contain;
  height: 100px;
}

.home__text {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 9rem;
  font-size: 14px;
}
.home__textfooter {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #9a8d94;
  font-size: 15px;
  margin-bottom: 1%;
}

.home__textfooter a:hover {
  color: blue;
  transition: 0.3s ease-out;
}
